<%= render 'layouts/errors', resource:@post %>
<%= form_with model:@post do |f| %>
  <div class="form-group m-4">
    <strong><%= f.label :title, "投稿タイトル" %></strong>
    <%= f.text_field :title, class: 'form-control post_title' %>
  </div>
  <div class="form-group m-4">
    <strong><%= f.label :body, "投稿本文" %></strong>
    <%= f.text_area :body, class: 'form-control post_body' %>
  </div>

  <div class="form-group m-4">
    <i class="fa-solid fa-paperclip"></i>
    <%= f.file_field :image, accept: "image/*" %>
    <h6>画像添付はこちらをクリック</h6>
  </div>
  
  <div class="form-group m-4">
    <%= f.submit "投稿する", class: 'btn', style: "background-color: #66cdaa ; color: white;" %>
  </div>
<% end %>