<%= render 'layouts/errors', resource: @post %>
<div class='container'>
  <div class='row'>
    <div class='col-md-8 offset-md-1'>
      <h2>投稿詳細</h2>
        <p>
          <% if @post.user.profile_image.attached? %>
            <%= image_tag @post.user.profile_image, width: 50, height: 50, style: "object-fit: cover; border-radius: 50%;" %>
          <% else %>
            <%= image_tag 'profile_noimage.jpg', width: 50, height: 50, style: "object-fit: cover; border-radius: 50%;" %>
          <% end %>
          <%= @post.user.name %>さんの投稿
        </p>
        <%= @post.title %><br>
        <% if @post.image.attached? %>
          <%= image_tag @post.image, size: '400x300' %><br>
        <% else %>
        <% end %>
        <%= @post.body %></td><br>
        <div class="post_detail" style="display: flex; justify-content: right; flex-wrap: wrap; margin-top: 20px; margin-bottom: 20px;">
        <% if @post.user.id == current_user.id %>
          <%= link_to '投稿を編集する', edit_post_path(@post), class: 'btn btn-sm', style: "background-color: #66cdaa ; color: white;" %>
          <%= link_to '投稿を削除する', post_path(@post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %>
        <% end %>
    </div>
      <%# 投稿へのコメント機能/一覧表示を追加 2025/04/15 %>
      <%= render "public/comments/form", post: @post, comment: @comment %>
      <%= render "public/comments/index", comments: @post.comments %>
      <%= link_to '<<投稿一覧に戻る', posts_path, class: "btn btn-sm btn-secondary" %>
    </div>
  </div>
</div>