<%# エラー処理 %>
<%= render 'layouts/errors', resource: @post %>

<div class='container my-4'>
  <div class='row justify-content-center'>
    <div class='col-md-8 offset-md-1'>
      <h4 class="m-4" style="border-bottom: 2px solid #ccc; padding-bottom: 8px;"><strong>投稿詳細</strong></h4>
        <div class="post-user" style="font-weight: bold; margin-bottom: 10px;">
        <%# プロフィール写真の追加 %>
        <%# プロフィール画像が添付されていればそれを表示、ない場合はデフォルトのnoimageの画像を表示させる。%>
          <% if @post.user.profile_image.attached? %>
            <%= image_tag @post.user.profile_image, width: 50, height: 50, style: "object-fit: cover; border-radius: 50%;" %>
          <% else %>
            <%= image_tag 'profile_noimage.jpg', width: 50, height: 50, style: "object-fit: cover; border-radius: 50%;" %>
          <% end %>
          <%= link_to @post.user.name, user_path(@post.user.id) %><strong>さんの投稿</strong>
        </div>

        <%# 投稿タイトル %>
        <h5 class="mb-3"><strong><%= @post.title %></strong></h5>
        <%# 投稿画像があれば追加 %>
        <% if @post.image.attached? %>
          <div class="mb-3">
            <%= image_tag @post.image, class: "img-fluid", style: "max-width: 100%; height: auto;" %>
          </div>
        <% end %>

        <div class="post-body" style="font-size: 1.2em; color: #333;">
          <%# 投稿本文 %>
          <p><%= @post.body %></p><br>
          <%# いいねボタン呼び出し %>
          <%= render "public/favorites/btn", post: @post %>
          <% if @post.tags.any? %>
          <div class="post-tags">
            <p><i class="fa-solid fa-tag" style="color: #019367;"></i>
              <% @post.tags.each do |tag| %>
                <%= link_to "##{tag.name}", tags_path, class: "tag-link" %>
              <% end %>
            </p>
          </div>
          <% end %>
          <%# 投稿日付 %>
          <h6>投稿日：<%= @post.created_at.strftime("%Y年%m月%d日 %H:%M") %> 最終更新： <%= @post.updated_at.strftime("%Y年%m月%d日 %H:%M") %><h6>
        </div>
        <%# 投稿者本人の投稿なら編集、削除ボタンを表示%>
        <div class="post_detail" style="display: flex; justify-content: end; flex-wrap: wrap; margin-top: 20px; margin-bottom: 20px;">
        <% if @post.user.id == current_user.id %>
          <%= link_to '投稿を編集する', edit_post_path(@post), class: 'btn btn-sm', style: "background-color: #66cdaa ; color: white;" %>
          <%= link_to '投稿を削除する', post_path(@post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %>
        <% end %>
    </div>
      <%# 投稿へのコメント機能/一覧表示を追加 2025/04/15 %>
      <%= render 'layouts/errors', resource: @comment %>
      <%= render "public/comments/form", post: @post, comment: @comment %>
      <%= render "public/comments/index", comments: @comments %>
      <%= link_to '<<投稿一覧に戻る', posts_path, class: "btn btn-sm btn-secondary" %>
    </div>
  </div>
</div>