<%= render 'layouts/errors', resource: @post %>
<div class='container'>
  <div class='row'>
    <div class='col-md-8 offset-md-1'>
  		<h2>投稿詳細</h2>
        <%= @post.title %></td><br>
        <% if @post.image.attached? %>
          <%= image_tag @post.image, size: '400x300' %><br>
        <% else %>
        <% end %>
        <%= @post.body %></td><br>
        <% if @post.user.id == current_user.id %>
          <%= link_to '投稿を編集する', edit_post_path(@post), class: 'btn btn-sm', style: "background-color: #66cdaa ; color: white;" %>
          <%= link_to '投稿を削除する', post_path(@post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %>
        <% end %>
      <p>フェーズ２開発でここにコメント機能を実装する</p>
      <%= link_to '<<投稿一覧に戻る', posts_path, class: "btn btn-sm btn-secondary" %>
    </div>
  </div>
</div>