<%= render 'admin/search/post_form' %>

<h4 style="text-align: center; border-bottom: 2px solid #ccc; padding-bottom: 8px; margin-bottom: 30px;">
  <strong>投稿一覧</strong>
</h4>

<div class="post-list" style="display: flex; justify-content: center; flex-wrap: wrap; margin-top: 20px;">
  <% posts.each do |post| %>
    <div class="post-item" style="width: 1000px; margin: 10px; padding: 20px; background-color: #f9f9f9; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
      <div class="post-user" style="font-weight: bold; margin-bottom: 10px;">
        <p>
          <% if post.user.profile_image.attached? %>
            <%= image_tag post.user.profile_image, width: 50, height: 50, style: "object-fit: cover; border-radius: 50%;" %>
          <% else %>
            <%= image_tag 'profile_noimage.jpg', width: 50, height: 50, style: "object-fit: cover; border-radius: 50%;" %>
          <% end %>
          <%= post.user.name %>
        </p>
      </div>

      <div class="post-title" style="font-size: 1.2em; color: #333;">
        <%= link_to post.title, admin_post_path(post) %><br>
        <% if post.image.attached? %>
          <%= image_tag post.image, size: '400x300' %>
        <% end %>
      </div>

      <div class="post-body" style="margin-top: 10px;">
        <%= post.body %><br>
      </div>

      <div class="post-actions" style="margin-top: 10px;">
        <!-- 他のアクション（いいね、コメント数の表示）を後ほど追加する。 -->
      </div>
    </div>
  <% end %>
</div>