<h2 class="m-4">新規会員登録</h2>
<p class="m-4">以下に必要事項を入力ください。</p>
<%= render 'layouts/errors', resource: @user %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <%# 名前入力のフィールドを追加 2025/04/08 %>
  <div class="field m-4">
    <%= f.label :name, "アカウント名" %>
    <%= f.text_field :name, autofocus: true, autocomplete: "アカウント名" %><br>
    <small>アオモリンゴラボで使うアカウント名を設定ください。（ニックネーム可能、20文字以内）</small>
  </div>

  <div class="field m-4">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "メールアドレス" %>
  </div>

  <div class="field m-4">
    <%= f.label :password, "パスワード" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 桁以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "パスワード" %>
  </div>

  <div class="field m-4">
    <%= f.label :password_confirmation, "パスワード（確認用）" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "パスワード（確認用）" %><br />
    <small>確認のためパスワードをもう一度入力ください。</small>
  </div>

  <div class="actions m-4">
    <%= f.submit "登録ボタン" %><br />
    <small>入力が完了したらボタンを押し完了！</small>
  </div>
<% end %>

<%= render "public/shared/links" %>
