<%# マイページのタイトル部分が固定になるようにsticky-topで設定。%>
<div class="sticky-top" style="background-image: url('/assets/aomoringolab_profile.jpg'); background-size: cover; background-position: top; z-index: 1040; top: 80px; width: 100% height: 300px;">
  <div class="text-center py-3">
    <h1>ラボ会員のページ</h1>
  </div>
</div>

<%# 幅広コンテナで、画面幅に合わせて幅いっぱい広がるようにする。上下パディングあり%>
<div class="container-fluid py-4">
  <div class="row">
    <%# 左カラム:プロフィールを表示（固定） %>
    <%# グリッドシステムで、4/12カラム分をプロフィールに使用する。%>
    <%# プロフィール欄は固定したいのでpostion-stickyで固定。%>
    <div class="col-md-4 col-lg-3">
      <div class="position-sticky" style="top: 180px;">
        <h4 class="m-4"><strong>会員情報</strong></h4>
        <div class="user-profile" style="display: flex; justify-content: center; flex-wrap: wrap; margin-top: 20px;">
          <div class="user-item" style="width: 1000px; margin: 10px; padding: 20px; background-color: #f9f9f9; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
            <%# プロフィール画像が添付されていればそれを表示、ない場合はデフォルトのnoimageの画像を表示させる。%>
            <% if @user.profile_image.attached? %>
              <%= image_tag @user.profile_image, width: 100, height: 100, style: "object-fit: cover; border-radius: 50%;" %>
            <% else %>
              <%= image_tag 'profile_noimage.jpg', width: 100, height: 100, style: "object-fit: cover; border-radius: 50%;" %>
            <% end %>
            <div class="user" style="margin-bottom: 10px; text-aligned">
              <p><strong>アカウント名: </strong><%= @user.name %></p>
              <p><strong>自己紹介： </strong><br><%= @user.introduction %></p>
              <p><strong><%= link_to "フォロー数: #{@user.followings.count}", followings_admin_user_path(@user.id) %></strong>
              <i class="fa-solid fa-apple-whole" style="color: #ff7f7f;"></i>
              <strong><%= link_to "フォロワー数: #{@user.followers.count}", followers_admin_user_path(@user.id) %></strong></p>
            </div>
            <div class='row'>
              <%# 当画面自体がadmin権限でログインした場合のみしか閲覧できないようにコントローラ側で制御実装済み。ゲストユーザーへの制限のみ念の為かける。 %>
              <% if current_admin.email != "guest@example.com" %>
                  <%= link_to edit_admin_user_path(@user), class: "btn btn-outline-secondary btn-block" do %>
                  <i class="fas fa-user-cog"></i>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%# 右カラム：投稿一覧を表示（スクロール）>
    <%# グリッドシステムで、4/12カラム分をプロフィールに使用する。%>
    <div class="col-md-8 col-lg-9">
      <h4 style="text-align: center; border-bottom: 2px solid #ccc; padding-bottom: 8px; margin-bottom: 30px;">
        <strong>投稿</strong>
      </h4>
      <%= render 'admin/posts/index', posts: @posts %>
    </div>
  </div>
</div>
