<header>
  <nav class="navbar navbar-expand-lg navbar-light custom-green-bg fixed-top shadow-sm" style="z-index: 1050; height: 80px; background-color: #218838;">
    <div class="container">
      <% if controller_path.starts_with?('admin/') %>
        <%= image_tag("logolink.png", alt: "aomoringolabLOGO", class: "logo-img") %><div class="logolink" style= "margin-top: 15px; margin-right: 10px; color: white;" ><h6>管理者用ページ</h6></div>
      <% else %>
        <%= link_to root_path do %>
          <%= image_tag("logolink.png", alt: "aomoringolabLOGO", class: "logo-img") %>
        <% end %>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" style="z-index: 1060;">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <%# ユーザーログイン時の設定 %>
          <% if user_signed_in? %>
            <%# 新規投稿ボタンの位置を調整 2025/04/14%>
            <div class="search-form" style="display: flex; justify-content: left; flex-wrap: wrap; margin-top: 5px; margin-right: 10px">
              <%= link_to "新規投稿", new_post_path, class: 'btn', style: "background-color: #008b8b; color: white;"%>
            </div> 
            <li class="nav-item">
              <%= link_to root_path, class: 'nav-link text-light' do %>
                <i class="fa-solid fa-apple-whole" style="color:red;"></i>トップ
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to posts_path, class: 'nav-link text-light' do %>
                <i class="fa-regular fa-newspaper"></i> 投稿一覧
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to feed_path, class: 'nav-link text-light' do %>
                <i class="fa-solid fa-square-rss" style="color: #FFD43B;"></i> フィード
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to trend_path(current_user.id), class: 'nav-link text-light', data: { turbolinks: false } do %>
                <i class="fa-solid fa-arrow-trend-up" style="color: #bf6396;"></i> トレンド
              <% end %>
            </li>
            <li class="nav-item">
              <%=  link_to mypage_path, class: 'nav-link text-light' do %>
                <i class="fa-solid fa-user"></i> マイページ
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-light' do %>
                <i class="fas fa-sign-out-alt"></i> ログアウト
              <% end %>
            </li>
            </div>
          <%# adminログイン時の設定 %>
          <% elsif admin_signed_in? %>
            <li class="nav-item">
              <%= link_to admin_posts_path, class: 'nav-link text-light' do %>
                <i class="fa-regular fa-newspaper"></i> 投稿一覧
              <% end %>
            </li>
            <li class="nav-item">
              <%=  link_to admin_trends_path, class: 'nav-link text-light', data: { turbolinks: false } do%>
                <i class="fa-solid fa-arrow-trend-up" style="color: #bf6396;"></i> トレンド
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admin_users_path, class: 'nav-link text-light' do %>
                <i class="fa-solid fa-users"></i></i> ユーザー一覧
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-light' do %>
                <i class="fas fa-sign-out-alt"></i> ログアウト
              <% end %>
            </li>
            </div>
          <%# それ以外（ログアウト時）の設定 %>
          <% else %>
            <li class="nav-item">
              <%= link_to root_path, class: 'nav-link text-light' do %>
                <i class="fa-solid fa-apple-whole" style="color:red;"></i>トップ
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to about_path, class: 'nav-link text-light' do %>
                <i class="fas fa-link"></i> 使い方
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_registration_path, class: 'nav-link text-light' do %>
                <i class="fas fa-user-plus"></i> 新規会員登録
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_session_path, class: 'nav-link text-light' do %>
                <i class="fas fa-sign-in-alt"></i> 会員ログイン
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
