<header>
  <nav class="navbar navbar-expand-lg navbar-light custom-green-bg fixed-top shadow-sm" style="z-index: 1050; height: 80px; background-color: #218838;">
    <div class="container">
      <a class="navbar-brand text-light" href="/"><span>アオモリンゴラボ</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" style="z-index: 1060;">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to root_path, class: 'nav-link text-light' do %>
                <i class="fa-solid fa-apple-whole" style="color:red;"></i>トップ
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to posts_path, class: 'nav-link text-light' do %>
                <i class="fa-regular fa-newspaper"></i> 投稿一覧
              <% end %>
            </li>
            <li class="nav-item">
              <%=  link_to trend_path(current_user.id), class: 'nav-link text-light' do %>
                <i class="fa-solid fa-arrow-trend-up" style="color: #bf6396;"></i> トレンド
              <% end %>
            </li>
            <li class="nav-item">
              <%=  link_to user_path(current_user), class: 'nav-link text-light' do %>
                <i class="fa-solid fa-user"></i> マイページ
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-light' do %>
                <i class="fas fa-sign-out-alt"></i> ログアウト
              <% end %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to root_path, class: 'nav-link text-light' do %>
                <i class="fa-solid fa-apple-whole" style="color:red;"></i>トップ
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to about_path, class: 'nav-link text-light' do %>
                <i class="fas fa-link"></i> 使い方
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_registration_path, class: 'nav-link text-light' do %>
                <i class="fas fa-user-plus"></i> 新規会員登録
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_session_path, class: 'nav-link text-light' do %>
                <i class="fas fa-sign-in-alt"></i> 会員ログイン
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <%# 新規投稿ボタン %>
  <%= link_to '新規投稿', new_post_path, 
    style: "position: fixed; top: 90px; right: 20px; background-color: rgba(144, 238, 144, 0.3); color: white; padding: 8px 16px; border-radius: 5px; font-size: 14px; z-index: 1060;" %>
</header>

<%# ヘッダーの下にコンテンツが隠れないようにマージンを追加 %>
<div style="margin-top: 80px;">
</div>
